# Ignore tất cả nội dung trong các folder, nhưng giữ lại README files
content/*
!content/README*
!content/README.md
!content/readme*
!content/readme.md

data/*
!data/README*
!data/README.md
!data/readme*
!data/readme.md

output/*
!output/README*
!output/README.md
!output/readme*
!output/readme.md

Processed/*
!Processed/README*
!Processed/README.md
!Processed/readme*
!Processed/readme.md

s/*
!s/README*
!s/README.md
!s/readme*
!s/readme.md